// RESET CSS
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  // background: #fff;
  background-image: linear-gradient(to right, #9286ec, #3d23fd);
  font-family: "Circular Std", "Plus Jakarta Sans", sans-serif;
  box-sizing: border-box;
}
